<ion-view view-title="" ng-controller="LandingCtrl as $ctrl">
  <ion-content class="padding background-dark">
    <!-- <div class="list"> -->
      <div class="pad-top">
        <h1 class="landing-brand">Techne</h1>
        <h4 class="landing-subtitle">crafting goal setting & tracking progress</h4>
      </div>

      <div class="space-top col text-center">
        <button class="button button-clear button-calm" ng-click="$ctrl.showSignin = !$ctrl.showSignin">
          login
        </button>
        <button class="button button-clear button-calm" ng-click="$ctrl.showSignup = !$ctrl.showSignup">
          register
        </button>
      </div>

      <form novalidate ng-submit="$ctrl.signin()" ng-if="$ctrl.showSignin === true">
        <label class="item item-input">
          <input type="email" placeholder="Email" ng-model="$ctrl.user.email" required>
        </label>

        <label class="item item-input">
          <input ng-model="$ctrl.user.password" type="password" placeholder="Password" required>
        </label>
        <button ui-sref="tab.goals" class="button button-full green-accent ">Signin</button>
      </form>


      <form novalidate ng-submit="$ctrl.signup()" ng-if="$ctrl.showSignup === true">
        <label class="item item-input">
          <input type="text" placeholder="Username" ng-model="$ctrl.newUser.username" required>
        </label>
        <label class="item item-input">
          <input type="email" placeholder="Email" ng-model="$ctrl.newUser.email" required>
        </label>

        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="$ctrl.newUser.password" required>
        </label>
        <button class="button button-full green-accent">Signup</button>
      </form>
    <!-- </div> -->
  </ion-content>
</ion-view>
