
<ion-view
  ng-controller="SessionDetailCtrl as $ctrl"
  view-title="{{$ctrl.session.date}}">
  <ion-content class="padding">
    <div class="list" ng-if="$ctrl.newLog === true">

      <h2>New Exercise</h2>
      <form ng-submit="$ctrl.createExercise()">
        <label class="item item-input">
          <div class="input-label">
            Exercise
          </div>
          <input type="text" placeholder="Exercise Name" ng-model="$ctrl.exercise.name">
          <!-- <select
            ng-model="$ctrl.exercise.name"
            ng-options="exercise as exercise.name for exercise in $ctrl.exercises track by exercise.id">
            <option>Pullups</option>
            <option>Squats</option>
            <option>Deadlifts</option>
            <option>Lunges</option>
            <option selected>Bench Press</option>
          </select> -->
        </label>

        <label class="item item-input">
          <div class="input-label">
            Sets
          </div>
          <input ng-model="$ctrl.exercise.sets" type="number" name="" value="1" min="1" max="25">
        </label>

        <label class="item item-input">
          <div class="input-label">
            Reps
          </div>
          <input ng-model="$ctrl.exercise.repetitions" type="number" name="" value="1" min="1" max="300">
        </label>

        <label class="item item-input">
          <span class="input-label">Load</span>
          <input ng-model="$ctrl.exercise.load" type="number" min="0" max="1000" step="5">
        </label>

        <button class="button button-full button-balanced">Submit</button>
      </form>
    </div>

    <button class="button button-full button-royal" ng-click="$ctrl.newLog = true">Add New Exercise</button>

      <ion-item
        class="card item-remove-animate item-avatar item-icon-right"
        type="item-text-wrap"
        ng-repeat="exercise in $ctrl.session.exercises track by $index">
          <h2>{{exercise.name}}</h2>
          <p>{{exercise.sets}} x {{exercise.repetitions}} x {{exercise.load}}lbs</p>
          <a ng-click="$ctrl.deleteExercise()"><i class="icon ion-close-round assertive"></i></a>
      </ion-item>

  </ion-content>
</ion-view>
