<ion-view view-title="Goals" ng-controller=" GoalCtrl as $ctrl">
  <ion-content class="padding">

    <div class="list card">

      <div class="item item-avatar">
        <!-- <img src="avatar.jpg"> -->
        <h2>Current Goal</h2>
        <p>current goal description</p>
      </div>

      <!-- <div class="item item-image"> -->
        <!-- <nvd3 options="options" data="data" config="{deepWatchDataDepth: 0}"></nvd3> -->
      <!-- </div> -->
    </div>

    <button class="button button-full button-positive" ng-click="$ctrl.addGoal()">Add New Goal</button>

    <ion-list>
      <ion-item
        class="item-remove-animate item-avatar"
        type="item-text-wrap"
        ng-repeat="goal in $ctrl.goals | orderBy: $ctrl.goals "
        href="#/tab/goals/{{goal.id}}"
        >
        <!-- <img ng-src="{goal.chart}}"> -->
        <h2>{{goal.exercise_name}} <span>finish by: {{goal.finish_date}}</span></h2>
        <p>{{goal.reps}} x {{goal.load}}lbs</p>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
