<ion-view view-title="Journals" ng-controller="SessionCtrl as $ctrl">
  <ion-content>
    <ion-button
        class="button button-full button-balanced"
        ng-click="$ctrl.newTrainingLog()">
      New Training Log
    </ion-button>
      <!-- ng-if="$ctrl.newTrainingLog === false" -->
    <ion-list >
      <ion-item
        class="item-remove-animate item-avatar item-icon-right"
        ng-repeat="session in $ctrl.sessions track by $index"
        type="item-text-wrap"
        ng-href="#/tab/sessions/{{session.id}}"
        >
        <!-- ui-sref="tab.session-detail" -->

        <!-- <img ng-src="{{chat.face}}"> -->
        <div ng-repeat="exercise in session.exercises">
          <h2>{{session.date}}</h2>
          <p>{{exercise.name}}</p>
          <p>{{session.id}}</p>
        </div>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
