.background-dark {background-color: rgb(25,28,30);}
.background-light {background-color: rgb(43,48,57);}
.blue-accent {background-color: rgb(19,97,C6);}
.green-accent {background-color: rgb(1B,C9,8E);}
.red-accent {background-color: rgb(E6,47,59);}
.violet-accent {background-color: rgb(9F,86,FF);}
.gold-accent {background-color: rgb(E4,D8,36);}
.dark-accent {background-color: rgb(1E,21,27);}
.primary-text {color: #FFFFFF;}
