.landing-brand {
  font-family: 'Baloo Bhaina', cursive;
  font-size: 5em;
  color: #1BC98E;
  text-align: center;
}

.landing-subtitle {
  font-family: 'Baloo Bhaina', cursive;
  font-size: 1.25em;
  color: #1997C6;
  text-align: center;
}

.pad-top {
  margin-top: 15vh;
}

.space-top {
  position: absolute;
  margin-top: 32vh;
  /*margin-left: 2vw;*/
}

.button.button-clear.button-calm {
    font-family: 'Baloo Bhaina', cursive;
    font-size: 1.2em;
    color: #1BC98E;
    /*text-align: center;*/
}

.background-dark {
  background-color: #252830;
}

.background-light {
  /*background-color: #434857;*/
  background-color: #252830;
  /*border-color: #434857;*/
  /*color: #434857;*/
  color: #1997C6;
  border-color: #1997C6;
}

.blue-accent {
  background-color: #1997C6;
  color: #FFFFFF;
}

.green-accent {
  background-color: #1BC98E;
}

/*.header-item {
  color: #1BC98E;*/
  /*font-size: .83em;*/
/*}*/

.back-button > i {
  color: #1BC98E;
}

.back-button > span {
  color: #1BC98E;
}

.red-accent {
  background-color: #E64759;
}

.violet-accent {
  background-color: #9F86FF;
  color: #FFFFFF;
}

.gold-accent {
  background-color: #E4D836;
}

.dark-accent {
  background-color: #1E2127;;
  color: #1BC98E;
  border-color: #1B1E19;
}

.primary-text {
  color: #FFFFFF;
}

a.item-content {
  background-color: #252830;
  border-color: #434857;
  color: #434857;
}

svg text {
    fill: #1997C6;
}

.nvd3.nv-line .nv-slice text {
    fill: white !important;
}

.dateInput {
  width:100%
}
