.background-dark {
  background-color: #252830;
}

.background-light {
  /*background-color: #434857;*/
  background-color: #252830;
  border-color: #434857;
  color: #434857;
}

.blue-accent {
  background-color: #1997C6;
  color: #FFFFFF;
}

.green-accent {
  background-color: #1BC98E;
}

.back-button > i {
  color: #1BC98E;
}

.back-button > span {
  color: #1BC98E;
}

.red-accent {
  background-color: #E64759;
}

.violet-accent {
  background-color: #9F86FF;
  color: #FFFFFF;
}

.gold-accent {
  background-color: #E4D836;
}

.dark-accent {
  background-color: #1E2127;;
  color: #1BC98E;
  border-color: #1B1E19;
}

.primary-text {
  color: #FFFFFF;
}

a.item-content {
  background-color: #252830;
  border-color: #434857;
  color: #434857;
}

svg text {
    fill: #1997C6;
}

.nvd3.nv-line .nv-slice text {
    fill: white !important;
}
